[submodule "docs/template"]
	path = docs/template
	url = https://github.com/jassielof/typst-templates.git
[submodule "docs/ref/SI414"]
	path = docs/ref/SI414
	url = https://gitlab.com/jassiel/SI414.git
