{% extends 'core/layouts/form.layout.html' %}

{% block title %}{{ form_title|default:"Employee Form" }}{% endblock %}

{% block content %}
<h1>{{ form_title|default:"Employee Form" }}</h1>

{% if messages %} {# Display form errors if needed #}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{# If it's an update form, the action points to the edit URL #}
{# If it's a create form, the action points to the add URL #}
<form method="post" action="{% if profile_pk %}{% url 'employee_edit' profile_pk %}{% else %}{% url 'employee_add' %}{% endif %}" novalidate>
    {% csrf_token %}

    <h2>User Account Details</h2>
    {{ user_form.as_p }}

    <h2>Employee Profile Details</h2>
    {{ profile_form.as_p }}

    <button type="submit">{% if profile_pk %}Save Changes{% else %}Create Employee{% endif %}</button>
    {% if profile_pk %}
        <a href="{% url 'employee_detail' profile_pk %}">Cancel</a>
    {% else %}
         <a href="{% url 'employee_list' %}">Cancel</a>
    {% endif %}
</form>
{% endblock %}
