{% extends 'core/layouts/layout.html' %}
{% block content %}
  <div class="container mt-4">
    <h1 class="h4 mb-0">Owner Dashboard</h1>
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h2 class="mb-0">Welcome, {{ user.first_name }}</h2>
      </div>
      <div class="card-body">
        <p>Manage your beauty salon appointments and services.</p>
        {% comment %} <a href="{% url 'user-list' %}" class="btn btn-primary"><i class="bi bi-people"></i> View Users</a>
        <a href="{% url 'appointment-list' %}" class="btn btn-primary"><i class="bi bi-calendar"></i> View Appointments</a> {% endcomment %}
      </div>
    </div>
  </div>
{% endblock %}
