<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Beauty Salon
      {% endblock %}
    </title>
    {% load static %}
    {% comment %} <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css" /> {% endcomment %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}" />
    {% block extra_head %}

    {% endblock %}
  </head>
  <body class="layout-simple">
    <header>
      <h1>Beauty Salon</h1>
    </header>
    <main class="container flex-fill">
      {% block content %}

      {% endblock %}
    </main>
    <footer>
      <nav>
        <menu>
          <li>
            &copy;&nbsp;{% now 'Y' %}&nbsp;Beauty Salon
          </li>
        </menu>
      </nav>
    </footer>
  </body>
</html>
