{% extends 'core/layouts/layout.html' %}

{% block title %}
  Home - Beauty Salon
{% endblock %}

{% block content %}
  <main>
    <section>
      <header>
        <h2>{{ welcome_message }}</h2>
      </header>
      <div>
        <article>
          <h5>Users</h5>
          <p>Manage users of the system</p>
          <a href="#">View Users</a>
        </article>
        <article>
          <h5>Appointments</h5>
          <p>Manage beauty salon appointments</p>
          <a href="#">View Appointments</a>
        </article>
      </div>
    </section>
  </main>
{% endblock %}
