{% extends 'core/layouts/layout.html' %}
{% load static %}

{% block title %}{{ form_title }}{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/serviceform.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ form_title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'services:list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
